#calculator{
    width: auto;
    margin-top: 10% !important;
    margin: auto;
    width: 235px;
    background-image: linear-gradient(to right, #0396ff , #32ccbc);
    border-radius: 15px;
    box-shadow: 5px 5px 0 rgba(0, 0, 0, 0.2);
    transform: rotateX(0) rotateY(0) rotateZ(0) !important;
    animation: goNormal 2s ease-in;
}

body {
    background-color: #343a40 !important;
}

@keyframes goNormal {
    from {transform: rotateX(-68deg) rotateY(-11deg) rotateZ(-45deg);}
    to {transform: rotateX(0) rotateY(0) rotateZ(0);}
  }
  