<div class="container">
  <div id="calculator" class="p-3">
    <table>
      <tr>
        <td colspan="4">
          <input type="text" class="text-light bg-dark btn-outline-dark form-control text-right w-auto" [(ngModel)]="answer">
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <app-operation-button [operator]="'C'"></app-operation-button>
        </td>
        <td colspan="2">
          <app-operation-button [operator]="'<-'"></app-operation-button>
        </td>
      </tr>
      <tr>
        <td>
          <app-number-button [digit]="7"></app-number-button>
        </td>
        <td>
          <app-number-button [digit]="8"></app-number-button>
        </td>
        <td>
          <app-number-button [digit]="9"></app-number-button>
        </td>
        <td>
          <app-operation-button [operator]="'+'"></app-operation-button>
        </td>
      </tr>
      <tr>
        <td>
          <app-number-button [digit]="4"></app-number-button>
        </td>
        <td>
          <app-number-button [digit]="5"></app-number-button>
        </td>
        <td>
          <app-number-button [digit]="6"></app-number-button>
        </td>
        <td>
          <app-operation-button [operator]="'-'"></app-operation-button>
        </td>
      </tr>
      <tr>
        <td>
          <app-number-button [digit]="1"></app-number-button>
        </td>
        <td>
          <app-number-button [digit]="2"></app-number-button>
        </td>
        <td>
          <app-number-button [digit]="3"></app-number-button>
        </td>
        <td>
          <app-operation-button [operator]="'*'"></app-operation-button>
        </td>
      </tr>
      <tr>
        <td>
          <app-number-button [digit]="0"></app-number-button>
        </td>
        <td>
          <app-number-button [digit]="'.'"></app-number-button>
        </td>
        <td>
          <app-operation-button [operator]="'='"></app-operation-button>
        </td>
        <td>
          <app-operation-button [operator]="'/'"></app-operation-button>
        </td>
      </tr>
    </table>
  </div>
</div>