#calculator{
    width: auto;
    margin-top: 10% !important;
    margin: auto;
    width: 235px;
    background-image: linear-gradient(to right, #0396ff , #32ccbc);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(224, 224, 224, 0.3);
}

body {
    background-color: #343a40 !important;
}